<div class="center">
  <div class="tool-box">
    <h1><%= link_to "", travel_calculator_path, class: "white giant-icon fas fa-map-signs" %></h1>
    <p>Ruta<p>
  </div>
  <div class="tool-box">
    <h1><%= link_to "", missions_path, class: "white giant-icon fas fa-dice" %></h1>
    <p>Misiones<p>
  </div>
</div>