<div class="center">
  <div class="tool-box">
    <h1><%= link_to "", travel_calculator_path, class: "white fas fa-map-signs" %></h1>
    <p>Ruta<p>
  </div>
  <div class="tool-box" style="display: none">
    <h1><%= link_to "", root_path, class: "white fas fa-users" %></h1>
    <p>Familia<p>
  </div>
</div>