<div class="center jumbotron">
  <div class="tool-box">
    <h1><%= link_to "", root_path, class: "fas fa-map-signs" %></h1>
    <p>Ruta<p>
  </div>
  <div class="tool-box">
    <h1><%= link_to "", root_path, class: "fas fa-chess-knight" %></h1>
    <p>Batalla<p>
  </div>
</div>