<% provide(:title, 'Añadir casa') %>
<% provide(:icon, $master_tools[:houses][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="ml-3">
    <%= render 'form', house: @house %>
</div>