$('#form_' + <%= @sector_user.id %>).hide();
$('#player_' + <%= @sector_user.user_id %>).hide();
$('.modal-body').prepend(`<div class="container mx-auto text-center alert alert-danger">Relación borrada correctamente.</div>`);
