<% provide(:title, @user.player + ' — ' + @user.house) %>
<% provide(:icon, $tools[:players][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="ml-3">
    
</div>