<% provide(:title, $all_tools.find_by(path: request.fullpath).title) %>
<% provide(:icon, $all_tools.find_by(path: request.fullpath).icon) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="container row">
  <div class="card text-white bg-secondary mb-3 col-4"  style="width: 18rem;">
    <div class="card-header">Sector <span id='coords'></span><span id='name'></span></div>
    <div class="card-body">
      <p class="card-text">Nivel de información: <span id='info'></span></p>
      <p class="card-text"><span id='desc'></span></p>
      <p class="card-text"><span id='system'></span></p>
    </div>
  </div>

  <div id='hex' class="col-6" data-loaded="false">
    <svg id='canvas'>
      <defs>
        <pattern id="unknown" height="100%" width="100%" patterncontentunits="objectBoundingBox">
          <image width="1" height="1" preserveaspectratio="none" href="assets/hex/bg-unknown.png"></image>
        </pattern>
        <pattern id="star-red" height="100%" width="100%" patterncontentunits="objectBoundingBox">
          <image width="1" height="1" preserveaspectratio="none" href="assets/hex/bg-star-red.png"></image>
        </pattern>
        <pattern id="empty" height="100%" width="100%" patterncontentunits="objectBoundingBox">
          <image width="1" height="1" preserveaspectratio="none" href="assets/hex/bg-empty.png"></image>
        </pattern>
      </defs>
    </svg>
  </div>
</div>


<script>
  <%= render 'hex_map.js' %>
</script>
