/* special fonts */

@font-face {
  font-family: "Vinque Regular";
  src: url(/assets/vinque.ttf) format("truetype");
}

/* universal */

body {
  background-color:#222222;
  color: #ddd;
}

/* header */

.bg-black {
  background-color: #111111;
}

#logo {
  height: 36px;
}

.nav-text-icon {
  font-size: 1.5em;
  padding: 0.5rem;
}

.nav-icon {
  height: 24px;
  margin: auto;
}

.dropdown-toggle::after {
    content: none;
}

a.nav-text-icon:hover {
  background-color: #ddd;
  text-decoration: none;
}

/* miscellaneous */

.debug_dump {
  background-color: white;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.tool-box {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.green {
  color: limegreen;
}

.SandyBrown {
  color: SandyBrown;
}

/* forms */

.form-inline > * {
   margin: 0px 3px;
}

.btn:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

/* TOOLS  */

.tool-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.version {
  font-size:xx-small;
  color: gray;
}

.sea {
  display: none;
}

.is-invisible {
  display: none;
}

/* PATH TOGGLE */

.checkbox-slider--path input:checked + span::after {
	content: "Mar" !important;
	background-color: #006994  !important;
}

.checkbox-slider--path input + span::after {
	content: "Tierra" !important;
	background-color: #885723 !important;
}

/* ICONOS CONTACT  */

.giant-icon {
  font-size: 300%;
}

.giant-icon:hover {
  text-decoration: none;
}

/* STEP TITLE*/

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

float: left;

}

// Best in place error messages

.purr {
  position: fixed;
  top: 30px;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  @extend .text-center;
  @extend .alert;
  @extend .alert-danger;
}

// Errors dont change normal CSS

.field_with_errors { display: inline }

// Best in place CSS

.bip-editable:after {
    content: "  *";
    color: red;
}

.bip-input {
  width: 90%;
}

// Link Unstyled

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}

.btn-text-area {
  position:absolute;
  bottom:32px;
  right:16px;
}

// Colums separators to the right

.right-separator {
  border-right: solid darkgray; margin-bottom: 10px;
}

.bottom-separator {
  border-bottom: solid darkgray;
}

// Autocomplete in modals

.ui-autocomplete {
    z-index: 1500;
}

/* Disabled state */
.disabled:disabled  {
  cursor: not-allowed;
}