$container-large-desktop: 1129px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* special fonts */

@font-face {
  font-family: "Vinque Regular";
  src: url(/assets/vinque.ttf) format("truetype");
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-image: image-url("background.gif");
  color: #ddd;
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: #111111;
  border-color: #111111;
  height: 65px;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ddd;
}

.nav-item {
  font-size: 1.7511em;
  box-sizing: border-box;
}

.nav-item:hover {
  background-color: #4d4d4d;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  font-family: "Vinque Regular";
  padding-top: 9px;
  font-weight: bold;
  max-height: 49px;
  position: absolute;
  top: 1px;
  left: 3px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.tool-box {
  display: inline-block;
  padding: 20px;
}

.content {
  background-color:#222222;
  padding-top: 10px;
}

.white {
  color: white;
}

.black {
  color: black;
}

/* forms */

input {
  color: black;
}

textarea {
  color: black;
}

.btn-big {
  font-size:300%;
}

.btn-append {
  position:absolute; top:0px; right:0px;
}

.path-box {
  margin: 0 auto;
  background: #E9E9E9;
  border-radius: 10px;
  padding: 40px 15px;
  color: black;
  display: inline-block;
  position:relative;
}

.path-title {
  position:absolute; left:-18px;
  transform: rotate(270deg);
}

.is-hidden {
  display: none;
}

.tool-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
}