<% provide(:title, "Desde #{@from} hasta #{@to}") %>

<h1><%= yield(:title) %></h1>

<% if @step == 0 %>   
    <%= render 'travel_calculator/sea' %>
<% elsif @step_sea == 0  %>   
    <%= render 'travel_calculator/land' %>
<% else %>
    <%= "<p>ERROR</p>" %>
<% end %>