<% provide(:title, $tools[:map][:title]) %>
<% provide(:version, $tools[:map][:version]) %>
<% provide(:icon, $tools[:map][:icon]) %>

<div class="tool-title">
    <i class="white <%= yield(:icon) %>"></i>
    <%= yield(:title) %>
</div>

<div class="container" id="map-container">
    <div class="container mt-5" style="margin-bottom: -160px; width: 100%">
      <div class="loader mx-auto invisible" id="printing"></div>
    </div>

    <div id="mapid" style="height: 720px;">
    </div>
</div>

<div class="version"><%= yield(:title) %> version <%= yield(:version) %></div>
