<header class="navbar navbar-fixed-top">
  <nav class="container navbar navbar-default navbar-light bg-light">
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to "Valar", "http://www.valar.es" %></li>
        <li class="nav-item"><%= link_to "", "", class: "fa fa-bars d-icon d-icon-bars" %></li>
      </ul>
    </div>
  </nav>
</header>