<header class="navbar navbar-fixed-top">
  <nav class="container navbar navbar-default navbar-light bg-light">
   <%= link_to image_tag("tools.png", :alt => "Valar Tools", id: "logo"), root_path, id: "logo" %>
    <div>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </nav>
</header>