<header class="navbar navbar-default navbar-fixed-top">
  <nav class="navbar navbar-default container">
   <%= link_to image_tag("tools.png", :alt => "Valar Tools", id: "logo"), root_path, id: "logo" %>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to image_tag("valar-circle.png", :alt => "Valar Tools", class: "nav-icon"), "http://www.valar.es", class: "far fa-circle" %></li>
        <li class="nav-item"><%= link_to "", "", class: "fas fa-bars" %></li>
      </ul>
    </div>
  </nav>
</header>